.content-container {
    width: 75vw;
}

.basket {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25vw;
    background-color: gainsboro;
}

.products-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}